.button {
  padding: 8px;
  outline: none;
  background-color: #4040ff;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}