.container {
  width: 100vw;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 2px solid red;
  color: white;

  & > span {
    display: inline-block;
  }
}
